<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quizmas - Admin - Scores</title>

    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/bootstrap-theme.css" rel="stylesheet">
    <link href="../css/styles.css" rel="stylesheet">

</head>
<body>

    <div class="row">
        <ul class="nav nav-pills">
            <li role="presentation" class="active"><a href="#">Scores</a></li>
            <li role="presentation"><a href="rounds.html">Rondes</a></li>
            <li role="presentation"><a href="teams.html">Teams</a></li>
        </ul>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h1>Quizmas: Scores</h1>
        </div>
    </div>

    <div id="scores-container">

    </div>

    <script src="../js/ramda.min.js"></script>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/fetch.js"></script>
    <script src="../js/quizmas.js"></script>
    <script>

        $(document).ready(function (){

            function update () {
                $('#scores-container').html();

                Quizmas.getEverything().then(function (everything) {

                    everything.teams.forEach(function (team) {
                        $('<div />', {
                            id: 'team-'+team.id,
                            html: `<span style="font-weight: bold; margin-right: 12px; width: 100px; display: inline-block">${team.name}</span>`
                        }).appendTo('#scores-container');

                        everything.rounds.forEach(function (round) {

                            var scorePath = R.lensPath(['scores', team.id, round.id]);
                            var score = R.view(scorePath, everything) || 0;

                            $('<span />', {
                                id: 'team-'+team.id+'-round-'+round.id,
                                html: `<input class="score-input" id="score-${team.id}-${round.id}" type="text" value="${score}" />`
                            }).appendTo('#team-'+team.id);

                        });

                    });



                });
            }

            update();
        });

    </script>
</body>
</html>