<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quizmas - Admin - Scores</title>

    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/bootstrap-theme.css" rel="stylesheet">
    <link href="../css/styles.css" rel="stylesheet">

</head>
<body>

    <div class="row" style="margin-bottom: 24px;">
        <ul class="nav nav-pills">
            <li role="presentation"><a href="../index.html">Preview</a></li>
            <li role="presentation" class="active"><a href="#">Scores</a></li>
            <li role="presentation"><a href="rounds.html">Rondes</a></li>
            <li role="presentation"><a href="teams.html">Teams</a></li>
        </ul>
    </div>

    <div class="row" style="margin-bottom: 12px;">
        <div class="col-md-4">
            <input id="back-up-name-input" class="form-control"/>
        </div>
        <div class="col-md-2">
            <span id="back-up-name-btn" class="btn btn-success">Make backup</span>
        </div>
    </div>

    <div class="row" style="margin-bottom: 12px;">
        <div class="col-md-12">
            <div class="pull-left">
                Restore to backup: <select id="back-up-select"></select> <span id="back-up-select-btn" class="btn btn-default">Restore</span>
            </div>
            <div class="pull-right">
                <span id="btn-list-view" class="btn btn-info">Toon als overzicht</span>
                <span id="btn-final-view" class="btn btn-default">Toon voor einduitslag</span>
            </div>
        </div>
    </div>

    <div id="scores-header">
        <span style="display: inline-block; width: 300px; margin-right: 8px;">Tafelnummer & groepsnaam</span>
    </div>
    <div id="scores-container">

    </div>

    <script src="../js/ramda.min.js"></script>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/fetch.js"></script>
    <script src="../js/quizmas.js"></script>
    <script>

        $(document).ready(function (){

            function update () {

                $('#scores-container').html('');
                $('#scores-header').html(`<span style="display: inline-block; width: 300px; margin-right: 8px;">Tafelnummer & groepsnaam</span>`);
                $('#back-up-select').html('');
                $('#back-up-name-input').val('');

                Quizmas.getBackups().then(function (backups) {
                    backups.forEach(function (backup) {
                        $('<option />', {
                            value: `${backup}`,
                            html: `${backup}`
                        }).appendTo('#back-up-select');
                    });
                });

                Quizmas.getEverything().then(function (everything) {

                    if (everything.display.mode === 'list') showAsList();
                    else if (everything.display.mode === 'final') showAsFinal();

                    function stringSort (item1, item2) {
                        if ( item1.name < item2.name )
                            return -1;
                        if ( item1.name > item2.name )
                            return 1;
                        return 0;
                    }

                    var amountOfRounds = everything.rounds.length;
                    var amountOfTeams = everything.teams.length;

                    $('<span />', {
                        class: 'score-round-header',
                        html: `TB`
                    }).appendTo('#scores-header');

                    everything.rounds.sort(stringSort).forEach(function (round) {
                        $('<span />', {
                            class: 'score-round-header',
                            html: `${round.name}`
                        }).appendTo('#scores-header');
                    });

                    everything.teams.sort(function (a, b){ return a.table - b.table; }).forEach(function (team, $tIndex) {
                        $('<div />', {
                            id: 'team-'+team.id,
                            html: `<span style="font-weight: bold; margin-right: 12px; width: 300px; display: inline-block">${team.table}: ${team.name}</span>`
                        }).appendTo('#scores-container');

                        $('<span />', {
                            id: 'team-'+team.id+'-tiebreaker',
                            html: `<input class="score-input" id="score-${team.id}-tiebreaker" type="text" value="${team.tiebreaker}" />`
                        }).appendTo('#team-'+team.id);

                        $(`#score-${team.id}-tiebreaker`).blur(function () {
                            Quizmas.setTiebreakerForTeam(team.id, $(this).val());
                        });

                        everything.rounds.sort(stringSort).forEach(function (round, $rIndex) {

                            var scorePath = R.lensPath(['scores', team.id, round.id]);
                            var score = R.view(scorePath, everything) || 0;

                            $('<span />', {
                                id: 'team-'+team.id+'-round-'+round.id,
                                html: `<input class="score-input" id="score-${team.id}-${round.id}" type="text" value="${score}" />`
                            }).appendTo('#team-'+team.id);

                            $(`#score-${team.id}-${round.id}`).blur(function () {
                                Quizmas.updateTeamScore(team.id, round.id, $(this).val()).then(function () {

                                });
                            });

                            $(`#score-${team.id}-${round.id}`).keyup(function (evt) {

                                if (evt.keyCode === 39) { // right
                                    if ($rIndex + 1 < amountOfRounds) gainFocus($tIndex, $rIndex + 1);
                                } else if (evt.keyCode === 37) { // left
                                    if ($rIndex - 1 >= 0) gainFocus($tIndex, $rIndex - 1);
                                } else if (evt.keyCode === 38) { // up
                                    if ($tIndex - 1 >= 0) gainFocus($tIndex - 1, $rIndex);
                                } else if (evt.keyCode === 40) { // down
                                    if ($tIndex + 1 < amountOfTeams) gainFocus($tIndex + 1, $rIndex);
                                }

                            });

                            function gainFocus (tIndex, rIndex) {

                                var team = everything.teams[tIndex];
                                var round = everything.rounds[rIndex];

                                $(`#score-${team.id}-${round.id}`).focus();
                                $(`#score-${team.id}-${round.id}`).select();
                            }

                        });

                    });



                });
            }

            function showAsList () {
                $('#btn-list-view').removeClass('btn-default').addClass('btn-info');
                $('#btn-final-view').removeClass('btn-info').addClass('btn-default');
            }

            function showAsFinal () {
                $('#btn-final-view').removeClass('btn-default').addClass('btn-info');
                $('#btn-list-view').removeClass('btn-info').addClass('btn-default');
            }

            $('#btn-list-view').click(function () {
                Quizmas.setDisplayMode('list').then(showAsList);
            });

            $('#btn-final-view').click(function () {
                Quizmas.setDisplayMode('final').then(showAsFinal);
            });

            $('#back-up-select-btn').click(function () {
                var backup = $("#back-up-select option:selected").val();

                if (backup) {
                    console.log(backup);
                    Quizmas.restoreToBackup(backup).then(update);
                }
            });

            $('#back-up-name-btn').click(function () {

                var name = $('#back-up-name-input').val();
                Quizmas.createBackup(name).then(function () {
                    alert(`Backup [${name}] successfully saved!`);
                    update();
                });

            });

            update();
        });

    </script>
</body>
</html>