<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quizmas</title>

    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-theme.css" rel="stylesheet">
    <link href="css/styles-preview.css" rel="stylesheet">


    <style>
        html, body { height: 100%; }
        body { font-size: 32px; }
        h1 { font-size: 52px; }
    </style>
</head>
<body>

    <img style="width: 250px; position: absolute; bottom: 50px; right: 50px;" src="images/inkubis.png" />

    <div id="view-list" class="hidden">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <h1>Tussenstand</h1>
            </div>
        </div>
        <div class="row" style="margin-left: 25px; margin-top: 25px;">
            <div id="result-container" class="col-sm-10 col-sm-offset-1">
                <p> 1. Team 1</p>
            </div>
        </div>
    </div>

    <div id="view-final" class="hidden" style="height: 100%; display: flex; align-items: center; justify-content: center; font-size: 42px; ">
        <h1>Einduitslag</h1>
    </div>

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/fetch.js"></script>
    <script src="js/quizmas.js"></script>
    <script>

        Object.defineProperty(Array.prototype, 'chunksOf', {
            value: function(chunkSize) {
                var array = this;
                return [].concat.apply([],
                    array.map(function(elem,i) {
                        return i%chunkSize ? [] : [array.slice(i,i+chunkSize)];
                    })
                );
            }
        });

        $(document).ready(function (){

            var isViewingFinal = false;
            var index = -1;
            var finals = [];

            $(document).keyup(function (evt){
                if (isViewingFinal) {                        
                    
                    if (evt.keyCode === 13 || evt.keyCode == 34) {
                        if (index + 1 < finals.length)
                            showFinalResultForIndex (finals, ++index);
                    }

                    if (evt.keyCode === 33) {                        
                        if (index - 1 >= 0)
                            showFinalResultForIndex (finals, --index);
                    }
                }
            });

            function showFinalResultForIndex (finals, index) {                
                $('#view-final').html('');

                var final = finals[index];
                var position = index + 1;

                if (index === 0) position = 3;
                if (index === 1) position = 2;
                if (index === 2) position = 1;

                $('<div />', {
                    html: `${position}. ${final.name} (${final.score})`
                }).appendTo($('#view-final'));
            }

            Quizmas.getEverything().then(calculateRanking);

            function getTeamNameById (everything, id) {
                var team = getTeamById(everything, id);
                if (team) return team.name;
                else return '';
            }

            function getTeamById (everything, id) {
                var filtered = everything.teams.filter(function (team) { return team.id === id });
                if (filtered.length > 0) return filtered[0];
                else return null;
            }

            /* TODO: CHANGE TIEBREAKER HERE */
            var tiebreaker = 3254853;

            function byScore (a, b) {
                if (b.score !== a.score)
                    return b.score - a.score;
                else {                    
                    var btiebreak = tiebreaker - b.tiebreaker;                    
                    var atiebreak = tiebreaker - a.tiebreaker;                    
                    return Math.abs(atiebreak) - Math.abs(btiebreak);
                }
            }

            function calculateRanking (everything) {
                var results = Object.keys(everything.scores).map(function (teamId) {
                    var team = getTeamById(everything, teamId);
                    var scoresForTeam = everything.scores[teamId];
                    return {
                        name: getTeamNameById(everything, teamId),
                        score: Object.keys(scoresForTeam).reduce(function (score, roundId) {
                            return score + parseInt(scoresForTeam[roundId]);
                        }, 0),
                        tiebreaker: parseInt(team.tiebreaker || 0)
                    }
                }).sort(byScore);

                if (everything.display.mode === 'list') {
                    showResultsForIndex(results.chunksOf(13), 0);
                    $(`#view-${everything.display.mode}`).removeClass('hidden');
                }

                if (everything.display.mode === 'final') {

                    isViewingFinal = true;

                    results[0] = results.splice(1, 1, results[0])[0];
                    results[0] = results.splice(2, 1, results[0])[0];
                    results[1] = results.splice(2, 1, results[1])[0];

                    finals = results;
                    $(`#view-${everything.display.mode}`).removeClass('hidden');
                }
            }

            function showResultsForIndex(results, index) {
                $('#result-container').html('');

                results[index].forEach(function (team, $index){
                    console.log(team);
                    $('<p />', {
                        html: `${$index+ (10*index) +1}. ${team.name} (${team.score})`
                    }).appendTo('#result-container');
                });

                if (++index === results.length) index = 0;

                setTimeout(function (){
                    showResultsForIndex(results, index);
                }, 5000);
            }

        });

    </script>
</body>
</html>