<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quizmas</title>

    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-theme.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">

</head>
<body>
    <h1>Index</h1>


    <span id="type"></span>

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/fetch.js"></script>
    <script src="js/quizmas.js"></script>
    <script>

        $(document).ready(function (){
            Quizmas.getEverything().then(function (everything) {
                $('#type').html(`toon als ${everything.display.mode}`);
            });
        });

    </script>
</body>
</html>